code{
    font-size: 3em;
}
body{
    text-align: center;
}
img{
    border:5px ridge yellow;
    width: 40%;
}
div{
    background: linear-gradient(to bottom, lightgreen 0%, yellow 90%, aqua 100%);
    padding: 7px;
    margin: 10px;
    height: 600px;
}
ul{
    list-style: none;
}
#menu{
    position: fixed;
    top: 10px;
    left: 10px;
}
#menu li{
    float: left;
    margin: 3px;
}
#menu li:hover{
    border: 2px solid yellow;
    background: aqua;
    text-decoration: underline;
    padding: 2px;
    color: green;
    font-weight: bold;
}